.heart-icon {
    display: flex;
    align-items: center;
    font-size: 24px; /* Adjust font size as needed */
  }
  
  .heart-icon i {
    margin-right: 5px; /* Space between heart icon and likes count */
  }